@media (min-width: 0px) {
	
img.medium {
	width: 125px;
}

/*
	Movie List
	slats: http://pea.rs/content/slats-html5
*/
.movie-list {
	line-height: 1;
}
.movie-list-item {
	margin-bottom: 1em;
}
.movie-list-item-img {
	float: left;
	display: block;
	margin-right: 1em;
}
.movie-list-item-description {
	padding: 0;
	margin: 0;
}
.movie-list-item-title {
	font-size: 1.3em;
}
.movie-list-item-releasedate {
	font-size: 2em;
	display: block;
}
.movie-list-item-like {
}
	
}