@(likes: List[Like], searchForm: Form[String])
@import helper._
@import views.MovieHelpers._

@main("Likes") {
    <h1>@likes.size <a href="@routes.Application.likes">likes</a></h1>

    <ul>
        @likes.map { like =>
            <li>
                @like.movie.title @like.movie.tmdbId @like.movie.releaseDate.format("yyyy")
                <img class="medium" src="@w342(like.movie)" alt="@like.movie.title" />
                @form(routes.Application.deleteLike(like.id)) {
                    <input type="submit" value="Unlike @like.movie.title" />
                }
            </li>
        }
    </ul>
    
    <h2>Find an Actor or Movie</h2>
    @form(routes.Application.search) {
        @inputText(searchForm("s")) 
        <input type="submit" value="Search for an Actor or Movie">
    }
}