@(likes: List[Like])
@import helper._
@import views.MovieHelpers._

@main("Likes") {
    <a href="@routes.Application.index">home</a>

    <h1>@likes.size likes(s)</h1>

    <ul>
        @likes.map { like =>
            <li>
                @like.movie.title @like.movie.releaseDate.format("yyyy")
                <img class="medium" src="@w342(like.movie)" alt="@like.movie.title" />
                @form(routes.Application.deleteLike(like.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
}