@(movie: Movie, searchForm: Form[String])
@import helper._
@import views.MovieHelpers._

@main(movie.title)(searchForm) {
    <h1>@movie.title</h1>

    @movie.title @movie.releaseDate.format("yyyy")
    <img class="large" src="@w500(movie)" alt="@movie.title" />
    
    <table>
    	<tr>
    		<th>Character</th><th>Actor</th>
    	</tr>
    	@movie.cast.map { cast =>
    	</tr>
        	<td>@cast.character</td>
        	<td>@cast.actor.name</td>
       	</tr>
        }
    </table>
    
    @form(routes.Application.newLike(movie.id)) {
        <input type="submit" value="Like">
    }
}