@(movies: List[Movie], searchForm: Form[String])
@import helper._
@import views.MovieHelpers._

@main("Search")(searchForm) {
	<h2>@moviesFoundMessage(movies.size)</h2>
	
	<ul>
	    @movies.map { movie =>
	        <li>
	            <a href="@routes.Application.movie(movie.id)">@movie.title</a> @movie.releaseDate.format("yyyy")
	            <a href="@routes.Application.movie(movie.id)"><img class="medium" src="@w342(movie)" alt="@movie.title" /></a>
	            @form(routes.Application.newLike(movie.id)) {
	                <input type="submit" value="Like">
	            }
	        </li>
	    }
	</ul>    
}